Bitmap_1 BITMAP "..\\..\\..\\..\\..\\..\\Pictures\\o.bmp"
PngImage_1 RCDATA "..\\..\\..\\..\\..\\..\\Pictures\\Screenshots\\Zrzut ekranu 2023-10-31 124548.png"
Bitmap_2 BITMAP "..\\..\\..\\..\\..\\..\\Pictures\\x.bmp"
